@model List<AllTheBeansApp.Models.Bean> 

<div class="container text-center"> 
    <h1>About Us</h1> 
    <p>At AllTheBeansApp, we love beans! Take a look at our Bean of the Day, or visit Our Beans page to see our fine selection.</p> 
</div>
