@{

    ViewData["Title"] = "Cart";
}

<div class="container text-center">
    <!-- Main heading -->
    <h1 class="text-center">Your Cart</h1>
    <!-- Container (cart items) -->
    <div id="cart-items"></div>
    <!-- Container (total price) -->
    <div id="total-price"></div>
</div>


